<div class="body">
  <div class="content">
    <p class="registration-main">Create an account</p>
    <div class="first-second-names font-size-reg">
      <mat-form-field class="two-input-in-row">
        <input matInput value="First name">
      </mat-form-field>
      <mat-form-field class="two-input-in-row">
        <input matInput value="Surname">
      </mat-form-field>
    </div>
    <mat-form-field class="font-size-reg">
      <input matInput type="email" value="E-mail">
    </mat-form-field>
    <mat-form-field class="font-size-reg">
      <input matInput type="password" value="password">
    </mat-form-field>
    <mat-form-field class="font-size-reg">
      <input matInput type="password" value="password">
    </mat-form-field>
    <button mat-button>Create an account</button>
  </div>
</div>

