.Auth {
  width: 40%;
  min-width: 320px;
  max-width: 600px;
  height: 30%;
  min-height: 360px;
  max-height: 440px;
  display: flex;
  margin: auto;
  justify-content: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.11);
  background-color: whitesmoke;
  border-radius: 3px;
}